{% extends 'clients/base.html'%}
{% block content %}
<div class="container-center">
    <div class="card shadow-sm">
        <div class="cart-header bg-secondary text-white p-3 rounded-top text-center">КЛИЕНТ</div>
        <div class="card-body">
            <h1 class="jumbotron-heading">Информация о клиенте</h1>
            <div class="row">
                <div class="col-12">
                    <p class="card-text">Имя клиента: {{ client.name }}</p>
                    <p class="card-text">Email: {{ client.email }}</p>
                    <p class="card-text">Комментарий: {{ client.comment }}</p>
                    <p class="card-text">Добавил клиента: {{ client.owner }}</p>
                    <a class="btn btn-outline-primary btn-block mb-2" href="{% url 'clients:clients_list' %}" role="button">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}