{% extends 'clients/base.html' %}
{% block content %}
{% for client in object_list %}
<div class="card">
    <div class="cart-header bg-secondary text-white p-3 rounded shadow-sm text-center">КЛИЕНТ</div>
    <div class="card-body">
        <form method="post">

            <div class="form-group">

                <h3><label>Имя</label>: {{ client.name }}</h3>
                <h6><label>Email</label>: {{ client.email}}</h6>
                <h6><label>Коментарий</label>: {{ client.comments|slice:":100" }}{% if client.comments|length > 100 %}...{% endif %}</h6>

                {% if user == client.owner or user.is_superuser %}
                <a type="submit" class="btn btn-outline-primary btn-block mb-2" href="{% url 'clients:client_detail' client.pk %}">детали клиента</a>
                <a type="submit" class="btn btn-outline-primary btn-block mb-2" href="{% url 'clients:client_update' client.pk %}">обновление данных клиента</a>
                <a type="submit" class="btn btn-outline-primary btn-block mb-2" href="{% url 'clients:client_delete' client.pk %}">удалить клиента</a>
                {% endif %}

            </div>


        </form>
    </div>
</div>


{% endfor %}

{% endblock %}